@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at top,
      rgba(0,170,255,.18),
      transparent 45%
    );

  pointer-events: none;
  z-index: -1;
}

* {
  box-sizing: border-box;
}